%html
  %head
    %title
      DEBUG: Are you sure?
  %body
    %h1
      Are you sure you want to do this?
    %h3
      =message
    %a{:href => "/app/debug/"}
      No!
    &nbsp;
    &nbsp;
    %a{:href => yes}
      Yes!
