%html
  =haml :bootstrap_crud
  %link{:rel => "stylesheet", :href => "/gallery.css"}
  %script{:src => "/bundle.js", :type => "text/javascript"}
  %title
    Gallery
  %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    %span.navbar-brand
      Gallery
  .body
    #photo-inspector-container.tab
      %h1
        Hello, world!
    #gallery-grid.tab
