%html
  =haml :bootstrap_crud
  %link{:rel => "stylesheet", :href => "/gallery.css"}
  %script{:type => "text/javascript"}= "var currentState = " + JSON.generate(js_state)
  %script{:src => "/bundle.js", :type => "text/javascript"}
  %title
    Gallery
  %nav.navbar-custom
    -#%span#view-title
      Gallery
    %div.navmode-container
      %div.navmode.active#gallery-navmode
        %span
          Gallery
      %div.navmode#photo-navmode
        %a.iconbutton#photo-inspector-bar-gallery-button{:href => "/app/round/"}
          %img{:src => "/ic_collections_white_24px.svg"}
        %span
          Photo
        .flexglue
        %img.iconbutton#photo-inspector-bar-delete-button{:src => "/ic_delete_white_24px.svg"}
  .body
    #photo-inspector-tab.tab
      #photo-inspector-fullsize-centerbox
        #photo-inspector-fullsize-container
        .flexglue
    #gallery-grid.tab
  .centered.fixed-bottom
    #snackbar
      #snackbar-text
        This should never show.
      #snackbar-option
        ?!?!
