%html
  =haml :bootstrap_crud
  %link{:rel => "stylesheet", :href => "/gallery.css"}
  %script{:type => "text/javascript"}= "var currentState = " + JSON.generate(js_state)
  %script{:src => "/bundle.js", :type => "text/javascript"}
  %title
    Gallery
  %nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    %span.navbar-brand#view-title
      Gallery
  .body
    #photo-inspector-container.tab
      #photo-inspector-fullsize-centerbox
        #photo-inspector-fullsize-container
          %img#photo-inspector-fullsize
    #gallery-grid.tab
