%html.error-page{:lang => "en"}
  =haml :bootstrap_crud
  %link{:rel => "stylesheet", :href => "/errorpage.css"}
  %title
    Resource Not Found
  .container-fluid
    .row-fluid
      .col-lg-12
        .centering.vertical-center.error-container
          .text-center
            %h2.without-margin
              Setup complete.
