%html
  =haml :bootstrap_crud
  %link{:rel => "stylesheet", :href => "/setup.css"}
  %script{:src => "/setup.js"}
  %title
    Photo Tagger Setup
  #begin.step.active
    .container-fluid
      .row-fluid
        .col-lg-12
          .centering.vertical-center
            .text-center
              %h2.without-margin
                Ready for setup.
              %h4
                %a{:href => "#", :onclick => "attemptBegin();"}
                  Begin.
  #step1.step
    %form
      .stepheader
        %h1
          Step 1: Connect to Database
        %button.btn.btn-primary#dbConnect{:type => "submit"}
          Connect
      .form-group
        %label{:for => "dbUrl"}
          Database URL
        %input.form-control#dbUrl{:type => "text", :placeholder => "mysql2://username:password@server/database"}
    %pre#dbErrorLog{:style => "overflow: auto"}
  #dbsetup.step
    .stepheader
      %h1
        Setting up Database...
      %button.btn.btn-primary#dbSetupBtn
        Begin
    %pre#dbsetupLog
  #createadmin.step
    .stepheader
      %h1
        Step 3: Create Administrator Account
      %button.btn.btn-primary#createAdminAuthBtn
        Authenticate
  #permgroup.step
    .stepheader
      %h1
        Step 2: Configure Permission Groups
      %button.btn.btn-primary#permGroupSubmitBtn
        Submit
    #perm-groups-container
      .card.mb-4
        .card-header
          %ul.nav.nav-tabs.card-header-tabs
            %li.nav-item
              %a.nav-link.active{:href => "#"}
                Image Hosting Permissions
            %li.nav-item
              %a.nav-link{:href => "#"}
                Administrative Permissions
        .card-block
          %h4.card-title
            Mockup Permission Group
          %form
            %h4
            .form-check
              %label.form-check-label
                %input.form-check-input{:type => "checkbox"}
                Can upload photos
            .form-check
              %label.form-check-label
                %input.form-check-input{:type => "checkbox"}
                Can hotlink photos
            .form-check
              %label.form-check-label
                %input.form-check-input{:type => "checkbox"}
                Can import photos from imgur
            .form-check
              %label.form-check-label
                %input.form-check-input{:type => "checkbox"}
                Can import photos from Google Photos
        .card-footer.text-muted{:alt => "INSERT TIME HERE"}
          Last modified: right now.
      .permGroup.card.mb-4
        .card-block
          %h4.card-title
            %input{:placeholder => "Name"}
          .btn.btn-primary
            Create
  #wsclose.step
    .container-fluid
      .row-fluid
        .col-lg-12
          .centering.vertical-center
            .text-center
              %h2.without-margin
                The websocket has
                %span.text-danger
                  unexpectedly closed.
              %h4
                Restart the web server and
                %a{:href => "#", :onclick => "attemptBegin();"}
                  try again.
  #locked.step
    .container-fluid
      .row-fluid
        .col-lg-12
          .centering.vertical-center
            .text-center
              %h2.without-margin
                Setup locked.
              %h4
                Setup is already running somewhere else.


    
